<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/core-styles.css" />
    <link rel="stylesheet" href="/css/login2.css" />
</head>

<body>
    <main>
        <section class="login">
            <div class="login__inner">
                <div class="login-image">
                    <h1 style="font-size: 19px;font-weight: 800;">Luxmir</h1>
                </div>
                <div class="login-body">
                    <% if (text && text.length) { %>
                        <p><%= text %></p>
                    <% } else { %>
                        <form action="/auth/forgot-password" method="post" class="login-form">
                            <label for="email">
                                <span>Email:</span>
                                <input type="email" name="email" id="email" required />
                            </label>
                            <button type="submit" class="login-form-btn">Send OTP</button>
                        </form>
                    <% } %>
                </div>
                
            </div>
        </section>
    </main>
</body>

</html>
