<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <link rel="stylesheet" href="/css/core-styles.css" />
    <link rel="stylesheet" href="/css/login2.css" />
</head>

<body>
    <main>
        <section class="login">
            <div class="login__inner">
                <div class="login-image">
                    <h1 style="font-size: 19px;font-weight: 800;">Luxmir</h1>
                </div>

                <div class="login-body">
                    <% if (message?.length) { %>
                        <p>
                            <%= message %>
                        </p>
                        <% } %>
                        <form action="/auth/reset-password" method="post" class="login-form">
                            <input type="hidden" name="token" value="<%= token %>"> 
                            <label for="password">
                                <span>Password:</span>
                                <input type="password" name="password" id="password" required />
                            </label>
                            <label for="confirm-password">
                                <span>Confirm Password:</span>
                                <input type="password" name="confirmPassword" id="confirm-password" required />
                            </label>
                            <button type="submit" class="login-form-btn">Reset Password</button>
                        </form>
                        
                </div>
            </div>
        </section>
    </main>
</body>

</html>